{{#people}}
  <div class="featured-victim-inline">
    <div class="featured-victim-photo">

      <!-- <img src="{{{photo}}}"/> -->

    </div>
    <div class="mainCol">
      <div class="featured-victim-square"></div>
      <div class="featured-victim-name">{{name}}, <span style="color:#35bcaf;font-weight:600;">murdered</span> on {{date}}
      </div>
      <div class="featured-victim-description">{{description}}</div>
      <!-- <div class="featured-victim-button">Read profile</div> -->
      </div>
  </div>
{{/people}}
