<div class="count-header" >
    <div class="mainTop">
      <div class="leftCol">
        <a class="count-header__tag" href="#">The defenders</a>
      </div>
      <div class="mainCol" id="headerCol">
            <div class="count-header__count">
                <div class="count-header__count__number-wrapper">
                    <span class=count-header__count__number></span>
                    <span class=count-header__count__number></span>
                    <span class=count-header__count__number></span>
                    <span class=count-header__count__number></span>
                </div>
                <div class="counter-text">
                    <span class="highlight-text">defenders have been killed so far in 2017</span> while protecting their community's land or natural resources
                </div>
            </div>
            <div class="count-header__intro">
                {{{leadText}}}
            </div>
              <p class="int-byline">Produced by {{{byline}}}</p>
              <div class="header-share-container">
                <button class="interactive-share" data-network="twitter"></button>
                <button class="interactive-share" data-network="facebook"></button>
                <button class="interactive-share" data-network="email"></button>
              </div>
        </div>
    </div>
</div>
