<div class="count-header">
  <div class="green-squares green-squares--desktop">
  </div>
  <div class="mainTop">
    <div id="headerCol">
      <div class="header-text-wrapper">
        <div class="count-wrapper">
          <a class="count-header__tag" href="#">the defenders</a>
          <div class="count-header__count">
            <span class=count-header__count__number style="visibility: hidden;">environmental</span>
          </div>
        </div>
        <div class="count-text-wrapper">
            {{{introText}}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-interactive">
  <div class="main">
    <div class="mainCol">

      <figcaption class="caption" itemprop="description">
      <span id="captionContainer"></span>
    </figcaption>
      <p class="int-byline" style="color:#767676;">Latest data update: 31 May 2017<br>
      Produced by {{{byline}}}</p>
      <div class="header-share-container">
        <button class="interactive-share" data-network="twitter"></button>
        <button class="interactive-share" data-network="facebook"></button>
        <button class="interactive-share" data-network="email"></button>
      </div>
      <div class="count-header__intro">
        {{{leadText}}}
      </div>
    </div>
  </div>
</div>
