<div class="main-interactive">
  <div class="main">

    {{#module}}
      {{#mostRecent}}
        <div class="mainCol">
          <p class="">{{{copy}}}</p>
          <h2>{{{title}}}</h2>
          <div class="embed-graphic {{type}}">
            <!-- create template for list of people -->

          </div>
        </div>
      {{/mostRecent}}

      {{^mostRecent}}
        <div class="mainCol">
          <h2>{{{title}}}</h2>
          <p class="">{{{copy}}}</p>
          <div class="embed-graphic {{type}}"></div>
      </div>
      {{/mostRecent}}
    {{/module}}
    <div class="mainCol">
      <p class="int-sources">{{{sources}}}</p>
    </div>
  </div>
</div>
