@import "mq";
@import "fonts";
@import "share";
$highlight: #69d1ca;
$darkGrey: #808080;

.header-share-container {
  padding-top: 5px;
  padding-bottom: 20px;
  display: block;
  max-width: 620px;
  float: left;
}

#featured,
#headerCol {
  margin-top: 30px;
  // border-bottom:1px solid #CCC;
  position: relative;
  margin-bottom: 15px;
}

.count-header {
  background-color: #222;
  color: #222222;
  // position:relative;

}

.int-byline {
  @include fs-textSans(3);
  font-weight: 900;
  color: $darkGrey;
  font-size: 14px;
  max-width: 620px;
  display: block;
}

.int-sources {
  @include fs-textSans(3);
  font-weight: 400;
  color: $darkGrey;
  font-size: 13px;
  max-width: 620px;
  width: 100%;
  display: block;
  float: left;
  padding-top: 15px;
}

.int-sources a {
  text-decoration: none;
  border-bottom: 1px dotted $darkGrey;
  color: $darkGrey;
}

.int-sources a:hover {
  text-decoration: none;
  border-bottom: 1px dotted #222;
  color:#222;
}

.count-header__tag {
  @include fs-header(2);
  margin-top: 30px;
  margin-left: 10px;
  @include mq(desktop) {
    margin-left: 20px;
  }
  @include mq(tablet) {
     @include fs-header(3);
  }
  @include mq(desktop) {
     @include fs-header(4);
  }
  color: $highlight;
  padding-top: 8px;
  position: relative;
  z-index: 999;
  text-decoration: none!important;
  display: block;

  &:hover {
    text-decoration: underline;
  }
}
$animationBaseCount: 0.9;

.count-header__count__number-wrapper {
  display: inline-block;
  position: relative;
  animation-name: wrapperMove;
  animation-duration: ($animationBaseCount * 3) + s;
  animation-delay: $animationBaseCount + s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  transform: translateY(336px);
  margin-top:-358px;
  margin-bottom: -15px;
  overflow:hidden;

  .count-header__count__number {
    @include fs-header(2);
    font-size: 130px;
    line-height: 120px;
    height: 120px;
    color: $highlight;
    display: block;
    animation-name: fade;
    animation-duration: ($animationBaseCount * 2) + s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    opacity: 0;
  }

  .count-header__count__number:nth-of-type(1) {
    animation-delay: $animationBaseCount + s;
    animation-name: firstFade;
    animation-duration: $animationBaseCount + s;
    opacity: 0.1;
  }

  .count-header__count__number:nth-of-type(2) {
    animation-delay: $animationBaseCount + s;
    animation-name: fadeOne;
  }

  .count-header__count__number:nth-of-type(3) {
    animation-delay: ($animationBaseCount * 2) + s;
    animation-name: fadeTwo;
  }

  .count-header__count__number:nth-of-type(4) {
    animation-delay: ($animationBaseCount * 3) + s;
    animation-name: lastFade;
    animation-duration: $animationBaseCount + s;
  }
}

@keyframes wrapperMove {
    0% {
        transform: translateY(336px);
    }
    33% {
        transform: translateY(224px);
    }
    66% {
        transform: translateY(112px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes firstFade {
  0% {
    opacity: 0.1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes fadeOne {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.35;
  }

  100% {
    opacity: 0;
  }
}
@keyframes fadeTwo {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 0;
  }
}
@keyframes lastFade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.counter-text {
  @include fs-header(2);
  font-size: 34px;
  line-height: 40px;
  color: $darkGrey;
  font-weight: 200;
}

.count-header__intro {
  @include fs-headline(2);
  position: relative;
  display: block;
  float: left;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 200;
  color: $darkGrey;
  max-width: 620px;
}

.count-header__intro a {
  text-decoration: none;
  border-bottom: 1px dotted $darkGrey;
  color: $darkGrey;
}

.count-header__intro a:hover {
  text-decoration: none;
  border-bottom: 1px dotted #767676;
  color:#767676;
  cursor: pointer;
}
