.interactive-share {
    height: 30px;
    width: 30px;
    border-radius: 34px;
    display: inline-block;
    border: none;
    cursor: pointer;
    outline: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 26px;
    border:1px solid #555555;
    background-color:transparent;

    &[data-network='facebook'] {
        background-image: url(assets/img/facebook.svg);
    }

    &[data-network='twitter'] {
        background-image: url(assets/img/twitter.svg);
    }

    &[data-network='email'] {
        background-image: url(assets/img/mail.svg);
    }
}
