@import "mq";
@import "fonts";
@import "header";
@import "share";
$highlight: #69d1ca;
$lightGrey: #e6e6e6;
$darkerGreen: #3faa9f;
$darkGrey: #808080;

// Uncomment for embeds
//@import "embed";

// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

.element-atom,
.interactive-atom {
    margin: 0 !important;
    background-color: #dddddd;
    color:#222;
}

.main {
    @each $bp in (tablet, desktop, wide) {
        @include mq($bp) {
            max-width: map-get($mq-breakpoints, $bp);
        }
    }
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    background-color: #e6e6e6;
    max-width:1300px;
}

.strong-highlight {
  font-family:$f-serif-headline;
  font-weight:900;
  font-size:18px;
  line-height:32px;

}
.mainTop, .featured-victim-container  {
  @each $bp in (tablet, desktop, wide) {
      @include mq($bp) {
          max-width: map-get($mq-breakpoints, $bp);
      }
  }
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  background-color: #222222;
  max-width:1300px;
}

.featured-victim-container {
  background-color: transparent;
}


.highlight-text {
    color:#f1f1f1;
}

.leftCol {
  @media(min-width:1140px){
		position: absolute;
		width:140px;
	}
	@media(min-width:1300px){
		width:220px;
	}
}

.mainCol {
  max-width:620px;
  // float:left;
  display:block;
  position:relative;

  @include mq(leftCol) {
      margin-left: 160px;
  }
  @include mq(wide) {
      margin-left: 240px;
  }
}

.module-copy {
  font-size:18px;
  line-height:28px;
  font-weight:100;
}

.strongHead {
  font-family:$f-serif-headline;
  font-weight:900;
  font-size:28px;
  line-height:1.5;
  color:#222;
  display:block;
  padding:15px 0;
  margin-bottom:-10px;
}

#featured-victim {
  display:block;
  padding:10px 10px 10px 10px;
  position:relative;

}

.featured {margin-bottom:25px;}

.featured-victim-name, .victim-inline-country {
  font-family: $f-sans-serif-text;
  font-size: 14px;
  line-height: 1.5;
  color:#333;
  padding-bottom:5px;
  text-transform: uppercase;
  font-size:13px;
}

.featured-victim-description {
  font-family: $f-serif-headline;
  font-size: 28px;
  line-height: 34px;
  color:#333;
  font-weight:100;
}

.featured-victim-description:first-letter{
  text-transform: lowercase;
}

.featured-victim-square {
	width: 7px;
	height: 7px;
	border: 1px solid #bbb;
  position:absolute;
  left:-15px;
  top:4px;
}

.featured-victim-photo-line {
  width: 15px;
  height: 1px;
  background-color: #ccc;
  position: absolute;
  top:8px;
  right:-5px;
}

.featured-photo-container {
  display:inline;
  position:relative;
  background:red;
}

.featured-victim-photo {
  width:90px;
  height:90px;
  border: 1px solid #ccc;
  filter: grayscale(100%) brightness(120%);
  -webkit-filter: grayscale(100%) brightness(120%);
  position:relative;
  float:left;
  display:inline;
  left:-webkit-calc(100% - 100px);
  left:-moz-calc(100% - 100px);
  left:calc(100% - 100px);
}

.victim-inline-separator {
  width: 7px;
  height: 7px;
  background: $darkerGreen;
  display: inline-block;
  margin:0 4px 1px 5px;
}

.victim-inline:last-child .victim-inline-separator {
  display:none;
}

#allVictimsPanel {
  padding:20px 20px;
  margin:20px 0;
  position:relative;
  background: transparent;
  background-image: url(../assets/img/dots.png);
  background-repeat:repeat;
}

#allVictimsPanel h2 {
margin-left:-20px;
}

.victim-inline, .victim-inline-name, .victim-inline-country, .victim-inline-description, .victim-inline-story, .victim-inline-story, .victim-inline-button {
  display:inline;
  position:relative;
}

.victim-inline-name {
  font-family: $f-serif-headline;
  font-size: 22px;
  line-height: 32px;
  color:#333;
  font-weight:100;
}

.victim-inline-story-title {
  font-family: $f-serif-headline;
  font-size:22px;
  line-height:32px;
  color:#000;
  font-weight:900;
  display:inline;
  // margin-left:8px;
}

.g-button, .g-button-featured {
    a {
        text-decoration: none;
    }
    border-radius: 40px;
    @include fs-textSans(3);
    line-height: 15px;
    background-color: $highlight;
    // clear: both;
    display: inline;
    font-weight: bold;
    padding: 7px 10px 4px 10px;
    margin-left: 5px;
    color: white;
    cursor: pointer;
    svg {
        height: 16px;
        width: 16px;
        margin-bottom: -4px;
        margin-left: 5px;
        margin-right: -2px;
        path {
            fill: white;
        }
        #plus-svg {
            fill: white;
        }
    }
    &:hover {
        background-color: $darkerGreen;
        text-decoration: none;
    }
}

.g-button-featured {
        background-color: black;
        margin-left: 0px;
        margin-top:5px;
        display:inline-block;
}

.highlight-text {
  color:white;
}

#g-step {
  overflow:visible;
  width:100%;
  max-width:620px;
  position:relative;
  display:block;
  margin-top:50px;
  margin-bottom:50px;
  svg {
    shape-rendering: auto;
      }
    }

  .line {
    fill:none;
  }

  .stepchart {
    overflow:visible !important;
    position:relative;
    display:block;
  }

  .line2015 {
    fill:none;
    stroke:#b3b3b4;
    stroke-width:2px;
    shape-rendering: crispEdges;
  }

  .line2016 {
    fill:none;
    stroke:#333333;
    stroke-width:2px;
  }

  .line2017 {
    fill:none;
    stroke:#3faa9f;
    stroke-width:3px;
  }

  .tick text {
    font-family: $f-sans-serif-text;
    font-size: 11px;
    fill:#999;
  }

  .tick line {
    stroke:#ccc;
    stroke-width:1px;
  }

  .grid .domain {
    stroke-width:0px;
    display:none;
  }

  .step-axisY .domain {
    stroke:#ccc;
    stroke-width:0px;
  }

  .step-axisX .domain {
    stroke:#ccc;
    stroke-width:1px;
  }

  .stepLabel {
    font-family: $f-serif-headline;
    font-size:17px;
    line-height:20px;
    font-weight:400;
    display:inline;
    max-width:100px;
    padding:5px;
    background-color: rgba(255,255,255,0.5);
  }

//map

#g-map {
  position: relative;
}

.map-label {
  @include fs-textSans(2);
}

.map-years {
  display: block;
  position: absolute;
  top: 24px;

  @include mq(leftCol) {
    left: 160px;
  }

  @include mq(wide) {
    left: 240px;
  }

  span {
    display: inline-block;
    padding: 3px 10px;
    border-radius: 20px;
    margin-right: 5px;
    @include fs-textSans(4);
    font-size: 18px;
    color: #767676;
    background-color: #f6f6f6;

    &:hover {
      cursor: pointer;
    }
  }
}