@import "mq";
@import "fonts";
@import "header";
@import "share";
$highlight: #e21e25;
$darkGrey: #333333;

// Uncomment for embeds
//@import "embed";

// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

.element-atom,
.interactive-atom {
    margin: 0 !important;
    background-color: #dddddd;
}

.main {
    @each $bp in (tablet, desktop, wide) {
        @include mq($bp) {
            max-width: map-get($mq-breakpoints, $bp);
        }
    }
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    background-color: #e6e6e6;
    max-width:1300px;
}

.leftCol {
  @media(min-width:1140px){
		position: absolute;
		width:140px;
	}
	@media(min-width:1300px){
		width:220px;
	}
}

.mainCol {
  max-width:620px;
  float:left;
  display:block;
  position:relative;

  @include mq(leftCol) {
      margin-left: 160px;
  }
  @include mq(wide) {
      margin-left: 240px;
  }
}

.highlight-text {
  color:$highlight;
}
