@import "mq";
@import "fonts";
@import "header";
@import "share";
$highlight: #69d1ca;
$darkGrey: #808080;

// Uncomment for embeds
//@import "embed";

// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

.element-atom,
.interactive-atom {
    margin: 0 !important;
    background-color: #dddddd;
    color:#333;
}

.main {
    @each $bp in (tablet, desktop, wide) {
        @include mq($bp) {
            max-width: map-get($mq-breakpoints, $bp);
        }
    }
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    background-color: #e6e6e6;
    max-width:1300px;
}


.mainTop {
  @each $bp in (tablet, desktop, wide) {
      @include mq($bp) {
          max-width: map-get($mq-breakpoints, $bp);
      }
  }
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  background-color: #222222;
  max-width:1300px;
}


.highlight-text {
    color:#f1f1f1;
}

.leftCol {
  @media(min-width:1140px){
		position: absolute;
		width:140px;
	}
	@media(min-width:1300px){
		width:220px;
	}
}

.mainCol {
  max-width:620px;
  float:left;
  display:block;
  position:relative;

  @include mq(leftCol) {
      margin-left: 160px;
  }
  @include mq(wide) {
      margin-left: 240px;
  }
}

.strongHead {
  font-weight:800;
  color:#222;
}

// figure.element {
//   height:100%;
// }

.highlight-text {
  color:white;
}
